h1{
    color:rgb(116, 85, 21);
}
body{
background-color: rgb(15, 58, 139);
}
#encabezado {
    background-color: rgb(157, 189, 236);
    height: 150px;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px #000;

}